/* Remove the scroll to make it feel more like an app */
body {
    overflow: hidden;
}


/* Heading styles */

.heading {
    color: white;
    font-size: 3rem;
    background-color: mediumorchid;
    text-align: center;
    padding: 2rem;
}

/* main game-area */

.game-area {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 90vh;
    background-color: azure;
    margin: 0 auto;
    padding: 1%;
}

/* Styling for text in score-area */
p {
    font-size: 1.5rem;
}

/* Game panel that holds numbers are operators */

.game-panel {
    width: 85%;
    margin: 0 auto;
    background-color: lightgrey;
}

/* Game buttons that contain numbers for the 24 game */

.game-btn {
    width: 150px;
    height: 115px;
    margin: 5px;
    border-radius: 5%;
    font-size: 3rem;
}

/* Styling for operator buttons */

.operator-btn {
    height: 60px;
    width: 60px;
    border-radius: 10%;
    font-size: 1.5rem;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* Start and Undo button styles */

.game-controls {
    width: 85%;
}

.custom-btn {
    margin-top: 1rem;
    text-transform: uppercase;
    width: 140px;
    height: 50px;
    font-size: 15px;
}