.heading {
    text-align: center;
}

.game-area {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 90vh;
    background-color: azure;
    margin: 0 auto;
    padding: 1%;
}

.number-area {
    width: 85%;
    margin: 0 auto;
    background-color: lightgrey;
}

.game-btn {
    width: 30vw;
    aspect-ratio: 1/1;
    margin: 5px;
    border-radius: 5%;
}

.operator-area {
    width: 85%;
    height: 70px;
    background-color: lightgrey;
    margin: 0 auto;
}

.operator-btn {
    height: 50px;
    width: 50px;
    border-radius: 10%;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

p {
    font-size: 1.5rem;
}