/* Google Font import */

@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Roboto:wght@100..900&display=swap");

/* CSS Variables */
:root {
    --primary-font: "Fredoka", sans-serif;
    --secondary-font: "Roboto", sans-serif;
    --primary-color: linear-gradient(90deg,rgba(51, 51, 153, 1) 0%, rgba(255, 0, 204, 1) 100%);
    --hightlight-color: #333399;
    --secondary-color: #FAF9F6;
}

/* Global styles */

body {
    overflow: hidden; /* Remove the scroll to make it feel more like an app */
    font-family: var(--secondary-font);
    letter-spacing: 1px;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.selected {
    background-color: red;
    transform: scale(1.05);
}

.hide {
    display: none;
}

/* Heading styles */

.heading {
    color: white;
    font-size: 3rem;
    background: linear-gradient(90deg,rgba(51, 51, 153, 1) 0%, rgba(255, 0, 204, 1) 100%);
    text-align: center;
    padding: 2rem;
    font-family: var(--primary-font);
    margin-bottom: 0;
}

/* main game-area */

.game-area {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 90vh;
    background-color: var(--hightlight-color);
    margin: 0 auto;
    padding: 1%;
}

/* Styling for text in score-area */

.score-area {
    background-color: var(--hightlight-color);
}

.score-area p {
    color: white;
    font-size: 1.5rem;
    margin: 5px;
}

/* Game panel that holds numbers and operators */

.game-panel {
    width: 85%;
    max-width: 550px;
    margin: 0 auto;
    background-color: var(--secondary-color);
}

/* Number grid */

/* Min-height added to stop number grid collapsing when numbers are used */
.number-grid {
    min-height: 298px; 
}

/* Game buttons that contain numbers for the 24 game */

.game-btn {
    width: 150px;
    height: 115px;
    margin: 5px;
    border-radius: 5%;
    font-size: 3rem;
}

/* Styling for operator buttons */
.operator-area-size {
    max-width: 360px;
}

.operator-btn {
    height: 60px;
    width: 60px;
    border-radius: 10%;
    font-size: 1.5rem;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* Start and Undo button styles */

.game-controls {
    width: 85%;
    max-width: 550px;
}

.custom-btn {
    background: var(--primary-color);
    margin-top: 1rem;
    text-transform: uppercase;
    width: 140px;
    height: 50px;
    font-size: 15px;
    letter-spacing: 1px;
}

/* Media queries */

/* For small mobile devices below 355px */
@media  (max-width: 355px) {
    .custom-btn {
        margin-top: 1rem;
        text-transform: uppercase;
        width: 120px;
        height: 50px;
        font-size: 15px;
        letter-spacing: 1px;
    }    
}